<% set_meta_tags description: "Blog resend confirmation instructions page.",
                 keywords: "Blog, Resend confirmation" %>

<div class="u-container">
  <main class="main">
    <div class="login-register">
      <div class="login-register-inner">
        <div class="login-register-header">
          <h2 class="login-register-header-title"><%= title "Resend confirmation instructions" %></h2>
        </div>
        <div class="login-register-body">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="login-register-field">
              <%= f.label :email, class: "login-register-label", for: "email" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "login-register-input", id: "email" %>
            </div>

            <div class="login-register-field">
              <%= f.button "Resend confirmation instructions", class: "login-register-button" %>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </main>
</div>
