<% set_meta_tags description: "Edit profile page.", keywords: "Blog, Edit Profile" %>

<div class="u-container">
  <main class="main">
    <div class="login-register">
      <div class="login-register-inner">
        <div class="login-register-header">
          <h2 class="login-register-header-title"><%= title "Edit Profile" %></h2>
        </div>
        <div class="login-register-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="login-register-field">
              <div id="preview-image" class="post-form-profile-image-wrapper" style="background-image: url('<%= (resource.photo_upload.nil?) ? cl_image_path('sc30.jpg') : cl_image_path(resource.photo_upload) %>')";>
                <label for="photo_upload" class="post-form-image-label" id="upload-image">UPLOAD IMAGE
                  <%= f.file_field :photo_upload, label: false, style: "display: none", id: "photo-upload" %>
                </label>
              </div>
            </div>

            <div class="login-register-field">
              <%= f.label :username, class: "login-register-label", for: "username" %>
              <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "login-register-input", id: "username" %>
            </div>

            <div class="login-register-field">
              <%= f.label :email, class: "login-register-label", for: "email" %>
              <%= f.email_field :email, autocomplete: "email", class: "login-register-input", id: "email" %>
            </div>

            <div class="login-register-field">
              <%= f.button "UPDATE", class: "login-register-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>