<% set_meta_tags description: "Blog register page.", keywords: "Blog, Register, Sign Up" %>

<div class="u-container">
  <main class="main">
    <div class="login-register">
      <div class="login-register-inner">
        <div class="login-register-header">
          <h2 class="login-register-header-title"><%= title "Register" %></h2>
        </div>
        <div class="login-register-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="login-register-field">
              <div id="preview-image" class="post-form-image-wrapper" style="background-image: url('<%= cl_image_path('sc30.jpg', height: 250, :crop => "pad") %>')";>
                <label for="photo_upload" class="post-form-image-label" id="upload-image">UPLOAD IMAGE
                  <%= f.file_field :photo_upload, label: false, style: "display: none", id: "photo-upload" %>
                </label>
              </div>
            </div>

            <div class="login-register-field">
              <%= f.label :username, class: "login-register-label", for: "username" %>
              <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "login-register-input", id: "username" %>
            </div>

            <div class="login-register-field">
              <%= f.label :email, class: "login-register-label", for: "email" %>
              <%= f.email_field :email, autocomplete: "email", class: "login-register-input", id: "email" %>
            </div>

            <div class="login-register-field">
              <%= f.label :password, class: "login-register-label", for: "password" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "login-register-input" %>
            </div>

            <div class="login-register-field">
              <%= f.label :password_confirmation, class: "login-register-label", for: "password_confirmation" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "login-register-input" %>
            </div>

            <div class="login-register-field">
              <%= f.button "SUBMIT", class: "login-register-button" %>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </main>
</div>
