<h3 class="comment-header">COMMENT</h3>
<div class="comment-list">
  <% locals[:commentable].comments.reverse.each do |comment| %>
    <div class="comment-item">
      <% if current_user == comment.user %>
        <div class="comment-action"><%= link_to 'Delete', [comment.commentable, comment], class: "post-action-link", method: :delete %></div>
      <% end %>
      <h4 class="comment-user">Commented By: <%= comment.user.username %></h4>
      <div class="comment-text"><%= comment.body %></div>
      <time datetime="<%= comment.created_at.strftime("%Y.%m.%d") %>" class="comment-posted"><%= comment.created_at.strftime("%Y.%m.%d") %></time>
    </div>
  <% end %>
</div>