<%= simple_form_for [locals[:commentable], Comment.new], html: { class: "comment-form" } do |f| %>
  <div class="post-form-text-content">
    <%= f.input :body, label: false, placeholder: 'Content', input_html: { class: 'post-form-content-textarea' } %>
  </div>
  <div class="comment-form-footer">
    <%= f.button :button, "SUBMIT", class: "comment-button" %>
  </div>
<% end %>