<%- if controller_name != 'sessions' %>
  <div class="login-register-footer">
    <div class="login-register-footer-content">
      <p class="login-register-footer-text">Already have an account?</p>
      <%= link_to 'LOGIN HERE', sign_in_path, class: 'login-register-footer-link' %>
    </div>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="login-register-footer">
    <div class="login-register-footer-content">
      <p class="login-register-footer-text">No account yet?</p>
      <%= link_to 'REGISTER HERE', new_registration_path(resource_name), class: 'login-register-footer-link' %>
    </div>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="login-register-footer">
    <div class="login-register-footer-content">
      <p class="login-register-footer-text">Forgot your password?</p>
      <%= link_to 'CLICK HERE', new_password_path(resource_name), class: 'login-register-footer-link' %>
    </div>
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="login-register-footer">
    <div class="login-register-footer-content">
      <p class="login-register-footer-text">
        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
      </p>
    </div>
  </div>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="login-register-footer">
    <div class="login-register-footer-content">
      <p class="login-register-footer-text">
        <%= link_to "Didn't receive confirmation instructions?", new_unlock_path(resource_name) %>
      </p>
    </div>
  </div>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>
<% end %>
