<% set_meta_tags description: "Blog chang your password page.", keywords: "Blog, chang your password" %>

<div class="u-container">
  <main class="main">
    <div class="login-register">
      <div class="login-register-inner">
        <div class="login-register-header">
          <h2 class="login-register-header-title"><%= title "Change your password" %></h2>
        </div>
        <div class="login-register-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="login-register-field">
              <%= f.label :password, "New password", class: "login-register-label", for: "password" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "login-register-input" %>
            </div>

            <div class="login-register-field">
              <%= f.label :password_confirmation, "Confirm new password", class: "login-register-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "login-register-input" %>
            </div>

            <div class="login-register-field">
              <%= f.button "Change my password", class: "login-register-button" %>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </main>
</div>
