<div class="breadcrumbs">
  <div class="u-container">
    <ul class="breadcrumbs-list">
      <li class="breadcrumbs-item">
        <%= link_to "HOME", root_path, class: "breadcrumbs-link" %>
      </li>
      <% if locals[:link].present? %>
        <li class="breadcrumbs-item">
          <%= link_to locals[:title], locals[:link], class: "breadcrumbs-link" %>
        </li>
      <% else %>
        <li class="breadcrumbs-item">
          <%= locals[:title] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>