<footer class="footer">
  <div class="footer-inner">
    <div class="u-container footer-inner-content">
      <div class="footer-logo">
        <%= image_tag(asset_path('logo-white.png'), alt:'BLOG', class: "footer-logo-image") %>
      </div>
      <div class="footer-description">
        <p class="footer-text">
          サンプルテキストサンプル ルテキストサンプルテキストサ
        </p>
        <p class="footer-text">ンプルテキストサンプル ルテキスト</p>
      </div>
      <div class="footer-back-to-top">
        <div class="footer-back-to-top-arrow"></div>
        <div class="footer-back-to-top-text">
          <%= link_to 'TOP', '#top' %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="u-container">
      <p class="footer-copyright-text">Copyright©2007-2019 Blog Inc.</p>
    </div>
  </div>
</footer>
