<header class="header">
  <div class="u-container">
    <div class="header-inner">
      <%= link_to root_path, class:"header-logo" do %>
        <%= image_tag(asset_path('logo-black.png'), alt:'BLOG', class: "header-logo-image") %>
      <% end %>

      <%= render "/shared/nav" %>
    </div>
  </div>

  <div class="u-container">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  </div>
</header>

