<nav class="nav">
  <ul class="nav-list">
    <% if !user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Sign In', sign_in_path, class: 'nav-link' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'My News', user_root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Edit Profile', edit_profile_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Change Password", change_password_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign Out', destroy_user_session_path, class: 'nav-link', method: :delete %>
      </li>
    <% end %>
  </ul>
</nav>
