<div class="posts-content">
  <div class="posts-body">
    <ul class="posts-list" id="posts-list">
      <% obj.each_with_index do |post,index| %>
        <li class="posts-item" <% if index > 7 %> style="display:none;" <% end %>>
          <a class="posts-link" href="<%= post_path(post) %>">
            <div class="posts-image-wrapper">
              <div class="posts-image" style="background-image: url('<%= cl_image_path(post.photo_upload) %>');">
              </div>
            </div>
            <div class="posts-item-header">
              <time datetime="<%= post.created_at.strftime("%Y.%m.%d") %>" class="posts-created"><%= post.created_at.strftime("%Y.%m.%d") %></time>
              <div class="posts-comments"><%= post.comments.count %></div>
            </div>
            <p class="posts-text"><%= post.title %></p>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="posts-footer">
    <% if obj.count > 8 %>
      <button id="load-more" class="posts-loadmore-button">LOAD MORE</button>
      <input id="load-counter" type="hidden" value="0">
    <% end %>
  </div>
</div>

<script language="javascript">
  document.getElementById("load-more").addEventListener("click", function(event) {
    console.log('Load more trigger!');
    loadMore();
  });

  function loadMore() {
    // Number of posts to display
    var postGrouping = 8;
    var postChildren = document.getElementById("posts-list").children;

    // Load counter for number of time LOAD MORE is triggered
    var loadCounter = parseInt(document.getElementById('load-counter').value);
    loadCounter = isNaN(loadCounter) ? 0 : loadCounter;
    loadCounter++;

    // Set variable for start/end in showing more posts
    var start = (loadCounter * postGrouping) + 1;
    var end = start + postGrouping;

    // Process only if valid range
    if (start < postChildren.length) {
      var i;
      for (i = start; i < end; i++) {
        console.log(postChildren[i]);
        if (postChildren[i]) {
          postChildren[i].style.display = 'block';
        }
      }

      // Update load counter for reference later
      document.getElementById("load-counter").value = loadCounter;

      // Hide Load more if already reach the max number of posts
      if (end >= postChildren.length) {
        document.getElementById("load-more").style.display = "none";
      }
    }
  }
</script>