<div class="carousel">
  <div class="carousel-indicator">
    <% obj.each_with_index do |post, index| %>
      <div class="carousel-indicator-item <%= (index == 0) ? 'is-active' : '' %>" onclick="currentSlide(<%= index+1 %>)"></div>
    <% end %>
  </div>
  <div class="carousel-slides">
    <div class="carousel-navigate carousel-navigate-left" id="prev" onclick="plusSlides(-1)">
      <div class="navigate navigate-left">
      </div>
    </div>
    <% obj.each do |post| %>
      <div class="carousel-list" style="margin-left: 0px;">
        <div class="carousel-item fade" style="background-image: url('<%= cl_image_path(post.photo_upload, :width => 545, :crop => "pad") %>');">
          <div class="u-container carousel-item-inner-wrapper">
            <div class="carousel-item-inner">
              <div class="carousel-item-title"><%= truncate(post.description, length: 50) %></div>
              <time datetime="<%= post.created_at.strftime("%Y.%m.%d") %>" class="carousel-item-created"><%= post.created_at.strftime("%Y.%m.%d") %></time>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="carousel-navigate carousel-navigate-right" id="next" onclick="plusSlides(1)">
      <div class="navigate navigate-right">
      </div>
    </div>
  </div>
</div>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("carousel-list");
    var dots = document.getElementsByClassName("carousel-indicator-item");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" is-active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " is-active";
  }
</script>
