
<%= render "shared/breadcrumbs", locals: { title: "News Title Here"}  %>

<div class="u-container">
  <div class="post-header">
    <ul class="post-action-list">
      <li class="post-action-item">
        <a class="post-action-link" href="/news/edit">Edit Post</a>
      </li>
    </ul>
  </div>
  <div class="post-body">
    <time datetime="2020.08.30" class="post-created">2020.08.30</time>
    <h1 class="post-title">Title herer</h1>
    <div class="post-image" style="background-image: url(&quot;https://images.unsplash.com/photo-1586944672860-2a606666a887?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=755&amp;q=80&quot;);">
    </div>
    <div class="post-text">From casting the perfect actors to portray crime-fighters and the troublemakers they aim to bring down, to locking in the perfect script that honors the comic book source material and delivers something fresh to audiences of all ages, to building the in-universe world with custom sets and high-quality CGI, the pro</div>
  </div>
  <div class="comment">
    <div class="u-container">
      <h3 class="comment-header">COMMENT</h3>
      <div class="comment-list">
        <div class="comment-item">
          <h4 class="comment-user">
            Commented  By: Ariel Lopez
          </h4>
          <div class="comment-text">This is a comment to the news</div>
          <time datetime="2021.04.11" class="comment-posted">2021.04.11</time>
        </div>
      </div>
      <form class="comment-form">
          <div class="post-form-text-content">
            <textarea id="body" placeholder="Content" class="post-form-content-textarea"></textarea>
          </div>
        <div class="comment-form-footer">
          <button class="comment-button">SUBMIT</button>
        </div>

      </form>
    </div>
  </div>
</div>
