<div class="u-container">
  <main class="main">
    <div class="login-register">
      <div class="login-register-inner">
        <div class="login-register-header">
          <h2 class="login-register-header-title">Edit Profile</h2>
        </div>
        <div class="login-register-body">
          <form class="login-register-form">
            <div class="login-register-field">
              <div class="post-form-profile-image-wrapper" style="background-image: url('https://images.unsplash.com/photo-1586944672860-2a606666a887?ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80')";>
                <label for="image-upload" class="post-form-profile-image-label">UPLOAD PROFILE IMAGE
                  <input id="photo-upload" type="file" style="display: none;">
                </label>
              </div>
            </div>
            <div class="login-register-field">
              <label for="username" class="login-register-label">Username</label>
              <input class="login-register-input" type="text" id="user" value="">
            </div>

            <div class="login-register-field">
              <label for="email" class="login-register-label">Email</label>
              <input class="login-register-input" type="email" id="email" value="">
            </div>

            <br/>
            <br/>
            <hr />
            <div class="login-register-field">
              <label for="password" class="login-register-label">Current Password</label>
              <input class="login-register-input" type="password" id="password" value="">
              </div><div class="login-register-field">
            </div>

            <div class="login-register-field">
              <label for="password" class="login-register-label">New Password</label>
              <input class="login-register-input" type="password" id="password" value="">
              </div><div class="login-register-field">
            </div>

            <div class="login-register-field">
              <label for="password" class="login-register-label">Confirm Password</label>
              <input class="login-register-input" type="password" id="password" value="">
              </div><div class="login-register-field">
            </div>

            <div class="login-register-field">
              <button class="login-register-button">UPDATE</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </main>
</div>
