<% set_meta_tags description: "Latest news and posts", keywords: "Blog, Home, News" %>

<%= render "shared/slider", obj: @latest %>

<section class="posts">
  <div class="u-container">
    <div class="posts-header">
      <h1 class="posts-title"><%= title "NEWS" %></h1>
    </div>
    <%= render "shared/news", obj: @posts %>
  </div>
</section>