<% set_meta_tags description: "My news and posts", keywords: "Blog, My News" %>

<%= render "shared/breadcrumbs", locals: { title: "My News" }  %>

<section class="posts">
  <div class="u-container">
    <div class="posts-header">
      <h1 class="posts-title"><%= title "MY NEWS" %></h1>
      <ul class="post-action-list post-form-action-list">
        <li class="post-action-item">
          <%= link_to 'Add News', new_post_path, class: "post-action-link post-form-action-button"%>
        </li>
      </ul>
    </div>
    <%= render "shared/news", obj: @posts %>
  </div>
</section>
