<% set_meta_tags description: "Change password page.", keywords: "Blog, Change password" %>

<div class="u-container">
  <main class="main">
    <div class="login-register">
      <div class="login-register-inner">
        <div class="login-register-header">
          <h2 class="login-register-header-title"><%= title "Change Password" %></h2>
        </div>
        <div class="login-register-body">
          <%= form_for(@user, url: update_password_path, html: { method: :patch } ) do |f| %>
            <%= render "shared/error_messages", resource: @user %>

            <div class="login-register-field">
              <%= f.label :password, "New password", class: "login-register-label", for: "password" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "login-register-input" %>
            </div>

            <div class="login-register-field">
              <%= f.label :password_confirmation, "Confirm new password", class: "login-register-label" %>
              <%= f.password_field :password_confirmation, class: "login-register-input" %>
            </div>

            <div class="login-register-field">
              <%= f.label :current_password, class: "login-register-label" %> <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, class: "login-register-input" %>
            </div>

            <div class="login-register-field">
              <%= f.button "Change password", class: "login-register-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>