<% set_meta_tags description: "Blog login page.", keywords: "Blog, Login, Sign In" %>

<div class="u-container">
  <main class="main">
    <div class="login-register">
      <div class="login-register-inner">
        <div class="login-register-header">
          <h2 class="login-register-header-title"><%= title "LOGIN" %></h2>
        </div>
        <div class="login-register-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "login-register-form") do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="login-register-field">
              <%= f.label :username, class: "login-register-label", for: "username" %>
              <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "login-register-input", id: "username" %>
            </div>

            <div class="login-register-field">
              <%= f.label :password, class: "login-register-label", for: "password" %>
              <%= f.password_field :password, autocomplete: "password", class: "login-register-input", id: "password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="login-remember-field">
                <%= f.check_box :remember_me, class: "login-remember-checkbox" %>
                <%= f.label :remember_me, class: "login-remember-label" %>
              </div>
            <% end %>

            <div class="login-register-field">
              <%= f.button "LOGIN", class: "login-register-button" %>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </main>
</div>