<div class="u-container">
  <%= simple_form_for obj, html: { multipart: true, class: "post-form-inner" } do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="post-header post-form-header">
      <% if obj.id %>
        <h1><%= title "Edit Post" %></h1>
        <ul class="post-action-list post-form-action-list">
          <li class="post-action-item">
            <button type="submit" class="post-action-link post-form-action-button">Save Post</button>
          </li>

          <li class="post-action-item">
            <%= link_to 'Delete', obj, class: "post-action-link", method: :delete %>
          </li>

          <li class="post-action-item">
            <%= link_to 'Cancel', obj, class: "post-action-link" %>
          </li>
        </ul>
      <% else %>
        <h1><%= title "New Post" %></h1>
        <ul class="post-action-list post-form-action-list">
          <li class="post-action-item">
            <button type="submit" class="post-action-link post-form-action-button">Create Post</button>
          </li>

          <li class="post-action-item">
            <%= link_to 'Cancel', user_root_path, class: "post-action-link" %>
          </li>
        </ul>
      <% end %>
    </div>

    <div class="post-body">
      <div class="post-form-body-top">
        <time datetime="<%= DateTime.current.to_date %>" class="post-created"><%= DateTime.current.to_date %></time>
        <div class="post-form-published">
          <%= f.input :published, label: false, input_html: { class: 'post-form-published-checkbox' } %>
          <%= f.label :published, label: 'Publish', class: 'post-form-published-label' %>
        </div>
      </div>
      <%= f.input :title, as: :text, label: false, placeholder: 'Title',
                  input_html: { class: 'post-form-title-textarea' },
                  wrapper_html: { class: 'post-form-title' } %>
      <div id="preview-image" class="post-form-image-wrapper" style="background-image: url('<%= cl_image_path(obj.id ? obj.photo_upload : 'h60c1tudxdnldlp6hqt4.png', :width => 755, :crop => "pad") %>')">
        <label for="photo_upload" class="post-form-image-label" id="upload-image">UPLOAD IMAGE
          <%= f.input :photo_upload, as: :file, label: false, input_html: { style: "display: none;", id: "photo-upload" } %>
        </label>
      </div>
      <%= f.input :description, label: false, placeholder: 'Content',
                  input_html: { class: 'post-form-content-textarea' },
                  wrapper_html: { class: 'post-form-text-content' } %>
      <%= f.input :keywords, as: :text, label: false, placeholder: 'Keywords',
                  input_html: { class: 'post-form-keywords-textarea' },
                  wrapper_html: { class: 'post-form-keywords' } %>
    </div>
  <% end %>
  <br>
</div>