<% set_meta_tags description: @post.description, keywords: @post.keywords %>

<%= render "shared/breadcrumbs", locals: { title: @post.title, link: post_path(@post) }  %>

<%= render "form", obj: @post %>