<% set_meta_tags description: @post.description,
                 keywords: @post.keywords,
                 image_src: cl_image_path(@post.photo_upload),
                 og: {
                   image: :image_src
                 } %>

<%= render "shared/breadcrumbs", locals: { title: @post.title }  %>

<div class="u-container">
  <% if current_user == @post.user %>
    <div class="post-header">
      <ul class="post-action-list">
        <li class="post-action-item">
          <%= link_to 'Edit Post', edit_post_path(@post), class: "post-action-link" %>
        </li>
      </ul>
    </div>
  <% end %>
  <div class="post-body">
    <time datetime="<%= @post.created_at.strftime("%Y.%m.%d") %>" class="post-created"><%= @post.created_at.strftime("%Y.%m.%d") %></time>
    <h1 class="post-title"><%= title @post.title %></h1>
    <div class="post-image" style="background-image: url('<%= cl_image_path(@post.photo_upload, :width => 755, :crop => "pad") %>')";></div>
    <div class="post-text">
      <%= @post.description %>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="comment">
      <div class="u-container">
        <%= render "comments/comments", locals: { commentable: @post } %>
        <%= render "comments/form", locals: { commentable: @post } %>
      </div>
    </div>
  <% end %>
</div>
