.nav {
}

.nav-list {
  display: inline-flex;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: $color-primary-black;
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.07em;
  padding: 21px 0;
  display: block;
}
