.posts {
  padding: 98px 0 150px;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.posts-item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.posts-comments {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    background-image: asset-data-url("comment.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    right: 18px;
  }
}

.posts-title {
  font-size: 50px;
  letter-spacing: 0.09em;
}

.posts-create-link {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: underline;
}

.posts-body {
  margin-top: 65px;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -25px;

  @media (max-width: 768px) {
    margin: 0;
  }
}

.posts-item {
  margin: 0 25px 50px;
  width: calc((100% / 3) - 50px);
  border: 1px solid $color-primary-black;
  height: 388px;

  &:hover {
    .posts-image {
      transform: scale(1.1);
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 0 0 25px;
  }
}

.posts-link {
  padding: 40px 30px;
  height: 100%;
}

.posts-image-wrapper {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.posts-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: $color-grey;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.posts-created {
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
  display: block;
  letter-spacing: 0.1em;
}

.posts-text {
  margin-top: 10px;
  line-height: 1.6;
  font-size: 19px;
  font-weight: 500;
  font-family: $gothic;
  white-space: pre-line;
  word-break: break-word;
}

.posts-footer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.posts-loadmore-button {
  letter-spacing: 0.15em;
  padding: 24px 96px;
  color: $color-white;
  background-color: $color-primary-black;
}
