
@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $montserrat;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

a {
  display: block;
  text-decoration: none;
  color: $color-primary-black;
}

button {
  border: 0;
  outline: 0;
  color: $color-primary-black;
  background-color: transparent;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;

  &:hover {
    cursor: pointer;
  }
}

input {
  border: 0;
  padding: 10px;
  border-radius: 0;
  letter-spacing: 0.09em;
  outline: 1px solid $color-primary-black;
}

textarea {
  resize: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  font-family: $gothic;
  letter-spacing: 0.09em;
}

ul {
  display: block;
  list-style-type: none;
}

li {
  text-decoration: none;
}

