@import 'variables';

.u-scroll-lock {
  overflow: hidden;
  height: 100vh;
}

.u-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.u-hide {
  display: none;
}

.u-loading {
  position: relative;
  background-color: $color-grey;
  opacity: 0.3;

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent
    );
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

