<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'CRUD Blog',
      og: {
        title: :title,
        site_name: :site,
        description: :description,
        url: request.original_url,
        image: image_url('logo-black.png')
      } %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a name="top"></a>
    <div class="app">
      <%= render "/shared/header" %>
      <div class="top">
        <%= yield %>
        <%= render "/shared/footer" %>
      </div>
    </div>
  </body>
</html>
